<div id="add-genre" class="item">
    <%- include("errors.ejs") %>
    <h3>Add Genre:</h3>
    <form method="post" action="/genres">
        <label for="genre">Genre Name:</label>
        <input type="text" name="genre" id="genre">
        <button>Add Genre</button>
    </form>
</div>
<% genres.map(genre => { %>
    <div class="genre item" id="<%= genre.id %>">
        <div>
            <p><%= genre.genre %></p>
            <form action="/genres/<%= genre.id %>/update" method="get">
                <button>Update</button>
            </form>
        </div>
        <form action="/genres/<%= genre.id %>" method="get">
            <button>Find Related Books</button>
        </form>
    </div>
<% }) %>
