<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title><%= book.title%></title>
</head>
<body>
    <a href="../">Back</a>
    <h1><%= book.title%></h1>
    <div>
        <p>Author:</p> 
        <p> <%=book.author %></p>
        <p>Description:</p>
        <p> <%=book.description %></p>
        <p>Quantity: </p>
         <p><%=book.quantity %></p>
        <p>Price:</p> 
        <p> $<%=book.price %></p>
        <p>Genre: </p> 
        <p><%= book.genre %></p>
        <p>Book ID:</p> 
        <p> <%= book.id %></p>
        <form action="/books/<%=book.id%>/update" method="get">
            <button>Update</button>
        </form>
    </div>
</body>
</html>