<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= book.title%></title>
</head>
<body>
        <h1><%= book.title%></h1>

    <div id="book-info">
        <h3>Author:</h3> 
        <p> <%=book.author %></p>
        <h3>Description:</h3>
        <p id="book-description"> <%=book.description %></p>
        <h3>Quantity: </h3>
         <p><%=book.quantity %></p>
        <h3>Price:</h3> 
        <p> $<%=book.price %></p>
        <h3>Genre: </h3> 
        <p><%= book.genre %></p>
    </div>
        <div class="footer">

            <form action="/books/<%=book.id%>/update" method="get">
                <button>Update</button>
            </form>
            <a href="/books">Back</a>
        </div>
</body>
</html>